{
    "root_filepath": "/Users/Beryter/Documents/WorkProject/GitHub/DailySwiftAlgorithms/DailySwiftAlgorithms/DailySwiftAlgorithms/\u8fdb\u7a0b&\u7ebf\u7a0b", 
    "model": "mix", 
    "children_filepath": "/Users/Beryter/Documents/WorkProject/GitHub/DailySwiftAlgorithms/DailySwiftAlgorithms/DailySwiftAlgorithms/\u8fdb\u7a0b&\u7ebf\u7a0b/\u7ebf\u7a0b\u4e0e\u8fdb\u7a0b.md"
}